# .easignore
# This file overrides .gitignore during 'eas build' upload.
# We omit .env here so it gets uploaded to the build server.

node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# generated native folders
/ios
/android

/dream-journal-18a9b-firebase-adminsdk-fbsvc-8a7facb2c7.json
